<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">camera</i>
          </h2>
          <h5 class="center">Aerial photography</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">videocam</i>
          </h2>
          <h5 class="center">Aerial videography</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">person</i>
          </h2>
          <h5 class="center">Personalised touch</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
    </div>
  </div>
</div>

