/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$navbar-font-color: #444;

@import "materialize";

.nav-wrapper {
}

.parallax-container {
  min-height: 380px;
  height: auto;
}

.index-services {
  i {
    @extend .teal, .white-text, .circle, .z-depth-1;
    @include transition(.8s);
    padding: 0.5em;
    font-size: 1em;
    &:hover {
      @extend .z-depth-4;
    }

  }
  h5 {
    @extend .center, .teal-text, .text-lighten-2;
  }
}

.service-text {
  i {
    font-size: 0.8em;
    @extend .teal, .white-text, .circle, .z-depth-1;
    margin-right: 1em;
    padding: 0.4em;
  }
  h1 {
    font-size: 2.7em;
  }
}

#index-banner {
  h1 {
    font-size: 3.2em;
  }
}

#contact-form {
  padding-top: 2em;
  width: 50%;
  margin: 0 auto;
}


// Image gallery css

@font-face {
  font-family: 'fontawesome';
  src: url('fontawesome/fontawesome.eot?-e43dk9');
  src: url('fontawesome/fontawesome.eot?#iefix-e43dk9') format("embedded-opentype"), url('fontawesome/fontawesome.woff?-e43dk9') format("woff"), url('fontawesome/fontawesome.ttf?-e43dk9') format("truetype"), url('fontawesome/fontawesome.svg?-e43dk9#fontawesome') format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Made with http://icomoon.io/app */

/* General style */

.grid-gallery {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  figcaption {
    h3 {
      margin: 0;
      padding: 0 0 0.5em;
      font-size: 1.4em;
      @extend .teal-text;
    }
    p {
      margin: 0;
      @extend .light;
    }
  }
}

/* Grid style */

.grid-wrap {
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1em 1.875em;
}

.grid {
  margin: 0 auto;
  li {
    width: 25%;
    float: left;
    cursor: pointer;
  }
  figure {
    padding: 15px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  li:hover figure {
    opacity: 0.7;
  }
  figcaption {
    background: #e4e4e4;
    padding: 25px;
  }
}

/* Slideshow style */

.slideshow {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 150px);
  transform: translate3d(0, 0, 150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  &.animatable li {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
}

.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideshow {
  li {
    width: 660px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -330px;
    visibility: hidden;
    &.show {
      visibility: visible;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
    }
    &.current:after {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
      transition: opacity 0.3s, visibility 0s 0.3s;
    }
  }
  figure {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 50px solid #fff;
    overflow: hidden;
  }
  figcaption {
    padding-bottom: 20px;
    h3 {
      font-weight: 300;
      font-size: 200%;
    }
  }
  nav span {
    position: fixed;
    z-index: 1000;
    color: #59656c;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    font-size: 2.2em;
    &.nav-prev {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &.nav-next {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
    }
    &.nav-close {
      top: 0;
      right: 0;
      padding: 0.5em 1em;
      color: #31373a;
    }
  }
}

/* Navigation */

.icon {
  &:before, &:after {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

span {
  &.nav-prev:before {
    content: "\e601";
  }
  &.nav-next:before {
    content: "\e600";
  }
  &.nav-close:before {
    content: "\e602";
  }
}

/* Info on arrow key navigation */

.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  &:before, &:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
  }
  &:before {
    left: 10px;
    content: "\e603";
  }
  &:after {
    right: 10px;
    content: "\e604";
  }
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .grid li {
    width: 33.3%;
  }
  .slideshow {
    li {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      figure img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
      }
    }
    nav span {
      font-size: 1.8em;
      padding: 0.3em;
      &.nav-close {
        font-size: 1.8em;
        padding: 0.3em;
      }
    }
  }
  .info-keys {
    display: none;
  }
}

@media screen and (max-width: 35em) {
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width: 24em) {
  .grid li {
    width: 100%;
  }
}
